@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "好好减肥";
}
<link rel="stylesheet" href="~/Content/NB-css/Index.css" />
<div id="score">分数:</div>
<div>Come on!</div>
<canvas id="screen" />
<script src="~/Scripts/canvas-pointer.js"></script>
<script src="~/Scripts/NB-js/Index.js"></script>
