@{
    Layout = null;
    ViewBag.Title = "丰满的包子铺";
}

    <link href="~/Content/MB1/base.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="~/Scripts/MB1/jquery.min.js"></script>
    <script src="~/Scripts/MB1/jquery.dropotron.js"></script>
    <script src="~/Scripts/MB1/skel.min.js"></script>
    <script src="~/Scripts/MB1/skel-panels.min.js"></script>
    <script src="~/Scripts/MB1/init.js"></script>

      
<body class="homepage">

    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="#" id="logo">大包子</a></h1>
                <hr />
                <span class="byline">你家包子出去玩去了！</span>
            </header>
            <footer>
                <a href="#footer" class="button circled scrolly">Start</a>
            </footer>
        </div>

        <!-- 导航 -->
        <nav id="nav">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li>
                    <span>下拉列表</span>
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>
                            <span>下拉 &hellip;</span>
                            <ul>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Veroeros feugiat</a></li>
                    </ul>
                </li>
                <li><a href="left-sidebar.html">1</a></li>
                <li><a href="right-sidebar.html">2</a></li>
                <li><a href="no-sidebar.html">3</a></li>
            </ul>
        </nav>

    </div>

    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <hr />
            <div class="row">
                <div class="12u">
                    <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; Untitled. All rights reserved.</li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>