@{
    Layout = null;
    ViewBag.Title = "丰满的包子铺";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>丰满的包子-陈安一</title>
    <meta name="description" content="陈安一" />
    <meta name="web_author" content="陈安一 <baozi@chenanyi.com>" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="陈安一" />
    <meta property="og:description" content="陈安一" />
    <meta property="og:url" content="http://chenanyi.com" />
    <meta property="og:site_name" content="大包子" />
    <link rel="stylesheet" href="~/Content/newindex.css">
</head>
<body>
    <div class="container" style="margin-top:-700px">
        <section class="workspace">
            <div class="workspace__container">
                <div class="workspace__above-table">
                    <div class="flags">
                        <div class="flag flag--br" data-lang="br">
                            <div class="flag__container">
                                <div class="flag__diamond">
                                    <div class="flag__circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="flag flag--en" data-lang="en">
                            <div class="flag__container">
                                <div class="flag__stripes"></div>
                                <div class="flag__stars"></div>
                            </div>
                        </div>
                        <div class="shelf__base shelf__base--mobile"></div>
                    </div>
                    <div class="laptop preanimation">
                        <div class="object__tooltip tooltip--top text--doodle">Hey :)</div>
                        <div class="laptop__container">
                            <div class="laptop__monitor">
                                <span class="monitor__cam"></span>
                                <span class="monitor__mic"></span>
                                <div class="monitor__screen">
                                    <div class="screen__window">
                                        <div class="window__top">
                                            <span class="window__top-dots dot--red"></span>
                                        </div>
                                        <div class="window__content">
                                            <div class="notepad">
                                                <div class="notepad__content">
                                                    <div class="notepad__code html">
                                                        &lt;html&gt;
                                                        &lt;head&gt;
                                                        &lt;title&gt;丰满的包子&lt;/title&gt;
                                                        &lt;meta name=&quot;陈安一&quot; content=&quot;<a href="#contact" class="section-link">baozi@chenanyi.com</a>&gt;&quot;&gt;
                                                        &lt;/head&gt;
                                                        &lt;body&gt;
                                                        &lt;h1&gt;<span data-lang-id="some_personal_projects">目录</span>&lt;/h1&gt;
                                                        &lt;ul&gt;
                                                        &lt;li&gt;<a href="/about" class="section-link">个人简历</a>&lt;/li&gt;
                                                        &lt;li&gt;<a href="http://dabaozi.blog.51cto.com/" class="section-link">个人博客</a>&lt;/li&gt;
                                                        &lt;li&gt;<a href="/air" class="section-link">飞机大战</a>&lt;/li&gt;
                                                        &lt;li&gt;<a href="/fish" class="section-link">捕鱼达人</a>&lt;/li&gt;
                                                        &lt;li&gt;<a href="/photo" class="section-link">本人裸照</a>&lt;/li&gt;
                                                        &lt;/ul&gt;
                                                        &lt;/body&gt;
                                                        &lt;/html&gt;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="laptop__base"></div>
                        </div>
                        <div class="shelf__base shelf__base--mobile"></div>
                    </div>
                    <a href="#projects" class="section-link">
                        <div class="bookshelf">
                            <div class="object__tooltip tooltip--bottom text--doodle" data-lang-id="projects">Projetos</div>
                            <div class="bookshelf__container">
                                <div class="bookshelf__book book--1"></div>
                                <div class="bookshelf__book book--2"></div>
                                <div class="bookshelf__book book--3"></div>
                                <div class="bookshelf__book book--4"></div>
                                <div class="bookshelf__book book--5"></div>
                                <a href="http://chenanyi.com" target="_blank">
                                    <div class="camera">
                                        <div class="camera__container">
                                            <div class="camera__btns"></div>
                                            <div class="camera__eyepiece"></div>
                                            <div class="camera__shutter"></div>
                                            <div class="camera__flash"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="shelf__base"></div>
                        </div>
                    </a>
                    <div class="clock">
                        <div class="clock__container">
                            <div class="clock__markers"></div>
                            <div class="clock__second"></div>
                            <div class="clock__minute"></div>
                            <div class="clock__hour"></div>
                        </div>
                    </div>
                    <a href="/about" class="section-link">
                        <div class="portrait">
                            <div class="object__tooltip tooltip--bottom text--doodle" data-lang-id="about_me"></div>
                            <div class="portrait__container">
                                <div class="portrait__nail"></div>
                                <div class="portrait__inside">
                                    <div class="portrait__photo"></div>
                                </div>
                            </div>
                            <div class="portrait__safe">
                                <div class="safe__handle"></div>
                                <div class="safe__lock"></div>
                            </div>
                        </div>
                    </a>
                    <div class="lamp">
                        <div class="lamp--clickable">
                            <div class="lamp__top"></div>
                            <div class="lamp__top-btn"></div>
                            <div class="lamp__top-lamp"></div>
                        </div>
                        <div class="lamp--ignore">
                            <div class="lamp__hinge"></div>
                            <div class="lamp__pole"></div>
                            <div class="lamp__top-light"></div>
                            <div class="lamp__base"></div>
                        </div>
                    </div>
                    <div class="speaker speaker--left">
                        <div class="woofer-wrapper">
                            <div class="woofer woofer--top"></div>
                        </div>
                        <div class="woofer-wrapper">
                            <div class="woofer woofer--bottom"></div>
                        </div>
                    </div>
                    <div class="speaker speaker--right">
                        <div class="woofer-wrapper">
                            <div class="woofer woofer--top"></div>
                        </div>
                        <div class="woofer-wrapper">
                            <div class="woofer woofer--bottom"></div>
                        </div>
                    </div>
                    <div class="inception-spinning-top">
                        <div class="spinning-top__base"></div>
                    </div>
                    <a href="#contact" class="section-link">
                        <div class="telephone">
                            <div class="object__tooltip tooltip--top text--doodle" data-lang-id="contact">Contato</div>
                            <div class="telephone__container">
                                <div class="telephone__handle">
                                    <div class="telephone__cap cap--left"></div>
                                    <div class="telephone__cap cap--right"></div>
                                </div>
                                <div class="telephone__hook"></div>
                                <div class="telephone__base">
                                    <div class="telephone__base-container">
                                        <div class="telephone__ringer"></div>
                                        <div class="ringer__blocker"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="shelf__base shelf__base--mobile"></div>
                        </div>
                    </a>
                </div>
                <div class="table">
                    <div class="table__top"></div>
                    <div class="table__bottom">
                        <div class="table__base"></div>
                        <div class="table__leg leg--left"></div>
                        <div class="table__leg leg--right"></div>
                    </div>
                </div>
            </div>
            <div class="wallpaper__base"></div>
        </section>
        <section class="content">
            <div class="loading__spinner"><div class="loading__rect rect--1"></div><div class="loading__rect rect--2"></div><div class="loading__rect rect--3"></div><div class="loading__rect rect--4"></div><div class="loading__rect rect--5"></div></div>
            <div class="content__wrapper">
                <div class="window__top window__top--content">
                    <span class="window__top-dots dot--red"></span>
                </div>
                <div class="content__container"></div>
            </div>
            <div class="button button--close"></div>
        </section>
    </div>
    <audio id="myaudio" src="~/Content/music/Young.mp3" controls="controls" loop="loop" hidden="hidden"></audio>
        <script src="~/Scripts/jquery-1.8.3.min.js"></script>
        <script>
        $(function () {
            setInterval("settime()", 1000);
        });
        $(".speaker").on('click', function () {
            //lamp--off
            if ($(".speaker").hasClass("onon")) {
                $(".speaker").removeClass("onon");
                document.getElementById("myaudio").pause();

            } else {
                $(".speaker").addClass("onon");
                document.getElementById("myaudio").play();
            }
        })
        //钟表时间
        function settime() {
            var time = new Date();
            var hour = 0;
            var min = 0;
            var seconds = 0;
            if (time.getHours() > 15) {
                hour = (time.getHours() - 15) * 30;
            } else {
                hour = 270 + ((time.getHours()-12) * 30);
            }
                min = ((time.getMinutes()) * 6)-90;
                seconds =((time.getSeconds()) * 6)-90;
            $(".clock__second").attr("style", "-webkit-transform: rotate(" + seconds + "deg);");
            $(".clock__minute").attr("style", "-webkit-transform: rotate(" + min + "deg);");
            $(".clock__hour").attr("style", "-webkit-transform: rotate(" + hour + "deg);");
        }
        $(".lamp").on('click', function () {
            //lamp--off
            if ($(".lamp").hasClass("lamp--off")) {
                $(".lamp").removeClass("lamp--off");
            } else {
                $(".lamp").addClass("lamp--off");
            }
        })
        </script>
</body>
</html>