@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/Index2.css" />
</head>
<body>
    <div id="main">
        <div class="row full-height">
            <div class="large-12 columns align">
                <div class="align-middle">
                    <div id="icons">
                        <div class="large-3 medium-3 columns small_icons" style="opacity: 1;">
                            <a href="#about"><span>About</span><img src="/Content/images/ico_about.png" alt=""></a>
                            <a href="#portfolio"><span>Work</span><img src="/Content/images/ico_work.png" alt=""></a>
                        </div>
                        <div class="large-6 medium-6 columns">
                            <a id="logo" href="#" style="opacity: 1; margin-top: 0px;"><img src="/Content/images/logo.png" alt=""></a>
                        </div>
                        <div class="large-3 medium-3 columns small_icons" style="opacity: 1;">
                            <a href="#testimonials"><span>Testimonials</span><img src="/Content/images/ico_testimonials.png" alt=""></a>
                            <a href="#contact"><span>Get In Touch</span><img src="/Content/images/ico_email.png" alt=""></a>
                        </div>
                        <div id="shadows" style="opacity: 1;"><img src="/Content/images/shadows.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
